<!doctype html>
<html lang="en">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Please approve <%= @project.name %></h1>
  <p>
    Visit <a href="<%= ENV['BASE_URL'] %>/projects/<%= @project.id %>"><%= ENV['BASE_URL'] %>/projects/<%= @project.id %></a>
  </p>
  <p>
    Thanks! :)
  </p>
</body>
</html>
